<!DOCTYPE html>
<html>
  <head>
    <%- include('./components/basicHead') %>
  </head>
  <body>
    <div class="app">
      <%- include('./components/navigation') %>

      <div class="content">
        <h1>Mods</h1>
        <p>Mods not marked as safe can very easily get you banned.</p>
        
         <table>
          <tr class="title">
            <th>Name</th>
            <th>Description</th>
            <th>Safe</th>
            <th>On</th>
          </tr>
          <% modList.forEach((mod)=>{ %>
            <tr>
              <td><%=mod.name%></td>
              <td class="desc"><%=mod.description%></td>
              <td><%=mod.safe ? "Yes": "NO"%></td>
              <td>
                <input type="checkbox" <%= user.mods.includes(mod.name) && "checked" %> data-mod="<%=mod.name%>">
              </td>
            </tr>
          <% }) %>
        </table> 

        <br>
        <button class="update">Update</button>

        <script>
          const updateBtn = document.querySelector(`.update`)

          updateBtn.addEventListener(`click`, async ()=>{
            const modsEnabled = [...document.querySelectorAll(`input[type="checkbox"]:checked`)].map((node)=>node.getAttribute(`data-mod`))
            
            updateBtn.innerText = `Updating...`

            const res = await fetch(`/setMods`, {
              method: "POST",
              body: JSON.stringify({mods: modsEnabled})
            })

            if(res.status == 200) {
              updateBtn.innerText = `Done`
              return;
            }

            updateBtn.innerText = `Error`
          })
        </script>
      </div>
    </div>
  </body>
</html>
